@font-face {
    font-family: 'Open Sans Regular';
    src: url('OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans SemiBold';
    src: url('OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('OpenSans-Bold.ttf');
}

section.mpixeltest-form {
    border: solid 1px #E0DCDC;
}

.mpixeltest-form__control input[type=text] {
    font-family: 'Open Sans Bold';
    font-size: 12px;
    color: #8B8F97;
    height: 34px;
    position: relative;
    border-top: none; 
    border-bottom: none;
    border-right: none;
    border-left: double 3px #F3E3DF;
    background-color: transparent;
    padding-left: 10px;
}

.mpixeltest-form__control input[type=text]:focus {
    outline-width: 0;
}

.mpixeltest-form__control div:nth-child(1) {
    background-color: #F3F3F3;
}

.mpixeltest-form__control div:nth-child(1) input[type=text]::placeholder{
    opacity: 0.4;
}

.mpixeltest-form__control input[type=submit] {
    width: 0;
    height: 0;
    margin: 0;
    border: 0;
    padding: 0;
    position: absolute;
}

.mpixeltest-form__input-wrapper {
    height: 34px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #E6EBED;
}

.mpixeltest-form__input-wrapper.first{
    background-color: #F3F3F3;
}

.mpixeltest-form__control input[type=checkbox] {
    height: 17px;
    width: 17px;
    padding:0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 13px;
    margin-right: 8px;
}

.mpixeltest-form__control input[type=checkbox]:before {
    content: ' ';
    width: 17px;
    height: 17px;
    background-image: url(box_untick.png);
    position: absolute;
    background-size: cover;
    background-position: center;
}

.mpixeltest-form__control input[type=checkbox]:checked:before {
    content: ' ';
    width: 17px;
    height: 17px;
    background-image: url(box_tick.png);
    position: absolute;
    background-size: cover;
    background-position: center;
}

.mpixeltest-form__status {
    min-height: 34px;
    position: absolute;
    top: -34px;
}

.mpixeltest-form__status--failure, .mpixeltest-form__status--success {
    font-family: 'Open Sans Bold';
    font-size: 14px;
}

div.mpixeltest-form__status--failure p {
    color: red;
    opacity: 0.6;
}

div.mpixeltest-form__status--success p {
    color: green;
    opacity: 0.6;
}